.body{
  flex-direction: column;
  display: flex;
  height: 100vh;
  
}
.top{
  flex-basis: 48px;
  flex-grow: 0;
  background-color: antiquewhite;
}
.center{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  .center-nav{
    order: 0;
    width: 100px;
  }
  .componentPane{
    flex-grow: 1;
    order: 1;
    background-color: rgb(233, 233, 233);
  }
  .center-main{
    flex-grow: 3;
    order: 2;
  }
  .center-rightside{
    flex-grow: 1;
    order: 3;
    background-color: rgb(233, 233, 233);
  }

.bottom{
  flex-grow: 0;
  flex-basis: 20px;
  background-color: antiquewhite;
}